{% extends "base.html" %}
{% block nav-location %}selected{% endblock %}
{% block content %}
<p><strong>HOSTELS</strong></p>
<ul>
  <li>A+O Hostel Köln \\ Mauritiuswall 64-66, 50676 Köln</li>
  <li>Meininger-Hostel Köln \\ Engelbertstr. 33-35, 50674 Köln</li>
  <li>Weltempfänger Hostél + Café \\ Venloer Str. 196, 50823 Köln</li>
  <li>Station - Hostel for Backpackers \\ Marzellanstr. 44-56, 50668 Köln</li>
</ul>

<p><strong>HOTELS</strong></p>
<ul>
  <li>NH Jolly \\ Hotel im MediaPark</li>
  <li>Azimut Hotel \\ Hansaring</li>
  <li>Royal by Centro Comfort \\ Hansaring</li>
  <li>Chelsea Hotel \\ Belgisches Viertel</li>
  <li>Hotel Königshof \\ Direkt am Dom</li>
</ul>

<div class="box">
  <img src="./static/img/3558903073_bafc3efba6_o.jpg" alt="location with rocket" />
</div>
{% endblock %}
