{% extends "base.html" %}
{% block nav-location %}selected{% endblock %}
{% block content %}
<p><strong>HOSTELS</strong></p>
<ul>
  <li><a href="http://www.aohostels.com/de/koeln/" target="_blank">A+O Hostel Köln</a> \\ Mauritiuswall 64-66, 50676 Köln</li>
  <li><a href="http://www.meininger-hotels.com/de/hotels/koeln/" target="_blank">Meininger-Hostel Köln</a> \\ Engelbertstr. 33-35, 50674 Köln</li>
  <li><a href="http://www.koeln-hostel.de" target"_blank">Weltempfänger Hostél + Café</a> \\ Venloer Str. 196, 50823 Köln</li>
  <li><a href="http://www.hostel-cologne.de" target="_blank">Station - Hostel for Backpackers</a> \\ Marzellanstr. 44-56, 50668 Köln</li>
</ul>

<p><strong>HOTELS</strong></p>
<ul>
  <li><a href="http://www.nh-hotels.de/nh/de/hotels/deutschland/koln/nh-koln-mediapark.html" target="_blank">NH Jolly</a> \\ Hotel im MediaPark</li>
  <li><a href="http://de.azimuthotels.com/azimut_hotel_cologne_city_center" target="blank">Azimut Hotel</a> \\ Hansaring</li>
  <li><a href="http://www.centrohotels.de/hotel-royal-koeln/" target="_blank">Royal by Centro Comfort</a> \\ Hansaring</li>
  <li><a href="http://www.antik-hotel-bristol.de" target="_blank">Antik Hotel Bristol</a> \\ Hansaring</li>
  <li><a href="http://www.hotel-chelsea.de/main.html" target="_blank">Chelsea Hotel</a> \\ Belgisches Viertel</li>
  <li><a href="http://www.hotelkoenigshofkoeln.de" target="_blank">Hotel Königshof</a> \\ Direkt am Dom</li>
</ul>

<div class="box">
  <img src="./static/img/3558903073_bafc3efba6_o.jpg" alt="location with rocket" />
</div>
{% endblock %}
