{% extends "base.html" %}
{% block nav-contact %}selected{% endblock %}
{% block content %}
<p>
	You can contact the organizers via the following email addresses:
</p>
<table>
	<tr>
		<td><a href="mailto:sigint-orga@koeln.ccc.de">sigint-orga@koeln.ccc.de</a></td>
		<td class="comment">for organizational issues and press inquiries</td>
	</tr>
	<tr>
		<td><a href="mailto:sigint-content@koeln.ccc.de">sigint-content@koeln.ccc.de</a></td>
		<td class="comment">for conference program-related issues</td>
	</tr>
	<tr>
		<td><a href="mailto:sigint-presale@koeln.ccc.de">sigint-presale@koeln.ccc.de</a></td>
		<td class="comment">for issues regarding our ticket sale</td>
	</tr>
</table>
<p class="small">
	Please take a look at our <a href="/faq.html">FAQ</a> first if you have general questions regarding SIGINT. 
</p>
<p>
	<strong>UPDATES</strong> Up-to-date information can be found at the <a href="https://events.ccc.de/">CCC Events Blog</a> or on our official <a href="https://twitter.com/sigint">Twitter (@sigint)</a>.
</p>
<p>
	<strong>CHAT</strong> There is also our IRC channel, <a href="ircs://irc.hackint.eu/sigint">#sigint</a> at <a href="http://hackint.eu/">hackint</a>. You won't get any official information there, but you can get in contact with a lot people participating at the conference. Most of them will be able to answer main questions as well.
</p>
{% endblock %}
