{% extends "base.html" %}
{% block nav-content %}selected{% endblock %}
{% block content %}
<p><strong>VOLUNTEERING</strong>
  The conference heavily relies on your help! Please consider volunteering at SIGINT.
  You can sign up at our <a href="https://engelsystem.de/sigint2013/">Engelsystem</a> if you would like to help us on site.
</p>
<p><strong>SCHEDULE</strong>
  We have published a <a href="https://frab.cccv.de/export/sigint13/schedule.html">preliminary version of our Fahrplan</a>.
  This schedule is only a preview and subject to changes.
</p>
<p>
  For general information about SIGINT and its topics you can take a look at our
  <a href="//sigint.ccc.de/cfp/">Call for Participation</a>, although it has already ended.<br/>
  <small>
    If you have an urgent talk and you're sure that it will be very interesting for our audience,
    you may still <a href="/contact.html">contact us</a>. We might be able to make something happen.
  </small>
</p>
<p>
  Shortly after the conference, you can find recordings of our talks at <a href="https://media.ccc.de/">media.ccc.de</a>.
  Most likely we'll also offer live streaming of all talks.
</p>
<p><strong>LIGHTNING TALKS</strong>
  In addition to our regular program, we also have generous time slots reserved every day for 5-minute
  <a href="http://en.wikipedia.org/wiki/Lightning_Talk">lightning talks</a>.
  You can bring your infectious enthusiasm to an audience with a short attention span.
  Discuss a program, system or technique, pitch your projects and ideas or try to rally a crew of people to your party or assembly!
  Whatever you bring, make it quick!
</p>
<p>
  All you need to do is to <a href="https://frab.cccv.de/en/sigint13lt/cfp/session/new">reserve a slot</a>
  in our lightning talk subconference.
</p>
<p><strong>WORKSHOPS</strong>
  There will be some workshops again this year, they are listed in
  <a href="https://frab.cccv.de/export/sigint13/schedule.html">our Fahrplan</a>. If you'd like to give a workshop,
  even if it's ad-hoc, <a href="/contact.html">drop us a line</a> so that we can advertize it and maybe get you a room.
</p>
<p><strong>GROUPS AND PROJECTS</strong>
  Traditionally, there will be some project booths on the <a href="/location.html">ground floor of M6</a>.
  The following groups and projects have been confirmed so far (in no particular order):
</p>
<ul>
  <li>Forum InformatikerInnen für Frieden und Geschaftliche Verantwortung</li>
  <li>Horst Görtz Institut für IT-Sicherheit der Ruhr-Universität Bochum</li>
  <li>University of Valenciennes, France</li>
  <li>Einstieg Informatik</li>
  <li>3dsupply</li>
  <li>RaumZeitLabor (downstairs, near the hackcenter bar)</li>
</ul>
<p>
  If you'd like to set up an expedition booth for your non-commercial project or (user) group, <a href="/contact.html">contact us</a>.
</p>
<p><strong>CTF</strong>
  During this years SIGINT there will be a
  <a href="https://ctftime.org/ctf-wtf/">Jeopardy-style Capture the Flag</a> competition.
  Participation is possible remotely, or from the nice, roomy Hackcenter at the conference. More information, and the possibility
  to register can be found <a href="https://ctf.sigint.ccc.de">here</a>.
</p>

<div class="box">
  <div class="row">
    <img src="./static/img/3623605744_2804fc0e29_o.jpg" alt="inside komed 1" />
    <img src="./static/img/3626674434_3dfde68832_o.jpg" alt="inside komed 2" />
  </div>
  <div class="row">
    <img src="./static/img/7579_b760.jpeg" alt="inside komed 3" />
    <img src="./static/img/3626670674_c62026c46d_o.jpg" alt="inside komed 4" />
  </div>
</div>

<br style="clear:both;" />
{% endblock %}
