{% extends "base.html" %}
{% block nav-location %}selected{% endblock %}
{% block content %}
<p><strong>PUBLIC TRANSPORT: S-Bahn</strong>
Travel to Cologne Mainstation by train. Take one of the following from platform 11 to "Köln Hansaring":
<ul>
  <li>
  S13 (Köln Hansaring)
  </li>
  <li>
  S6 (Köln-Nippes)
  </li>
  <li>
  RB25 (Köln Hansaring)
  </li>
  <li>
  S11 (Düren Bf)
  </li>
  <li>
  S12 (Wehrhahn (S)) 
  </li>
</ul>

From Hansaring go right behind the "Saturn" store and then left into Maybachstrasse. Walking should take no more than 5 minutes.
</p>

<p><strong>PUBLIC TRANSPORT: Subway</strong>
Take the U5, U16 or U18 to Ebertplatz and change into U12 or U15 to Christophstrasse/MediaPark. Go into the Hermann-Becker-Strasse, across the bridge to MediaPark.
</p>

<p><strong>PUBLIC TRANSPORT: Airport</strong>
Take the S13 with direction  Hansaring. Follow the steps above, once you reach Hansaring.
</p>

<p><strong>CAR</strong>
KOMED GmbH Im Mediapark 6 Köln 50670 
<pre>50° 56′53″N, 6° 56′39″O</pre>
</p>

<p><strong>CAR: RIGHT OF THE RHINE</strong>
Im Kreuz Köln–Ost von der A3/A4 der Beschilderung Richtung Zentrum auf die Stadtautobahn folgen. Durch einen Tunnel und über die Zoobrücke (Achtung: 5 Blitzer) fahren. Nach der Brücke der Beschilderung folgend links Richtung Ebertplatz abbiegen. Am Ebertplatz rechts auf den Hansaring und die Bahnlinie unterqueren. Kurz darauf kommt rechts der Mediapark mit genügend Parkplätzen in der Tiefgarage.

Von Norden aus ist der Weg vom Kreuz Leverkusen über die A1 und ab dem Kreuz Köln–Nord möglicherweise einfacher. Siehe unten. 
</p>

<p><strong>CAR: LEFT OF THE RHINE</strong>
Von Süden (A555, A61) und Westen (A4) aus auf die A4 nach Köln-Süd fahren. An der Ausfahrt Köln–Klettenberg der Luxemburger Str. knapp 4,5 Kilometer immer geradeaus bis zum Barbarossaplatz folgen. Über den Platz hinaus fahren, direkt danach links abbiegen und somit einen U-Turn um ein Haus herum machen. An der nächsten Kreuzung rechts auf den Ring einbiegen (Richtung Rudolphplatz und Friesenplatz). Den Ringen etwa zwei Kilometer folgen bis auf der linken Seite der Mediapark in Sicht kommt.

Von Norden aus der A57 bis ganz zum Ende folgen. Im Tunnel die mittlere Spur nehmen, die (fast) automatisch zur Tiefgarage in den Mediapark führt. 
</p>

<div class="box">
  <img src="./static/img/Openstreetmap_mediapark_oepnv_1280x755.png" alt="openstreetmap" />
</div>

{% endblock %}
