{% extends "base.html" %}
{% block nav-faq %}selected{% endblock %}
{% block content %}
<h3 class="faq">Is SIGINT open 24 hours per day?</h3>
<p>
	Yes.
</p>

<h3 class="faq">Will there be a DECT phone network?</h3>
<p>
	Yes, as usual our friends from <a href="http://eventphone.de/">eventphone</a> will set up a Phone Operation Center. Remember to bring your DECT phone!
</p>

<h3 class="faq">Will the amusement park hackerspace attend?</h3>
<p>
	Yes, our fellow hackers from <a href="http://raumzeitlabor.de/">RaumKirmesLabor</a> will provide their usual equipment to make sure that you'll never be out of popcorn, cotton candy or other similar necessities of life.
</p>

<h3 class="faq">What about videotaping/taking pictures at SIGINT?</h3>
<p>
	Ask <em>everybody</em> in the picture if they agree to be photographed or filmed.
	It follows that shots from the stage into the audience and long shots in the hack center and the other public areas are not possible! Please note that we might ask photographers and film teams to leave if they don't behave accordingly.
</p>


<h3 class="faq">How can I change the contents of this website?</h3>
<p>
	You can contribute to this website by forking our <a href="https://github.com/cccc/sigint13-website">GitHub repository</a> and sending us a pull request via GitHub. We're experimenting with this as an alternative to wiki softwares as they fail to satisfy our requirements at this time. If you need help, do not hesitate to <a href="/contact.html">contact us</a>.
</p>

<h3 class="faq">Your question isn't answered yet?</h3>
<p>
	Please <a href="/contact.html">contact us</a>.
</p>
{% endblock %}
