{% extends "base.html" %}
{% block nav-conference %}selected{% endblock %}
{% block content %}
<p>
	<strong>THE EVENT</strong> The SIGINT is an annual three-day conference on technical and social aspects of our digital society. It offers lectures and workshops on a multitude of topics. This year, it will take place from July 5th to 7th at <a href="/location.html">KOMED im Mediapark in Cologne, Germany</a>.
</p>
<p>
	The SIGINT has always been organized by the community and appreciates all kinds of participation.
	You are encouraged to contribute by <a href="/content.html">volunteering</a> to this event.
</p>
<p>
	Please take a look at our <a href="/faq.html">FAQ</a> if you have any questions about SIGINT. Updated information are covered by the <a href="https://events.ccc.de/">CCC Events Blog</a> or via <a href="https://twitter.com/sigint">Twitter (@sigint)</a>.
</p>
<p class="small">
	You can contribute to this website by forking our <a href="https://github.com/cccc/sigint13-website">GitHub repository</a> and sending us a pull request.
</p>

{% endblock %}
