{% extends "base.html" %}
{% block nav-conference %}selected{% endblock %}
{% block content %}
<p>
  SIGINT was an annual three-day conference on technical and social aspects of our digital society.
  It offered lectures and workshops on a multitude of topics.
</p>
<p>
  Sadly, <strong>there will not be another SIGINT</strong> in 2014 or later. Please have a look at similar conferences, such as <a href="https://mrmcd.net/">mrmcd</a>, <a href="https://gulas.ch">GPN</a>, <a href="http://www.datenspuren.de/">Datenspuren</a> and <a href="https://froscon.org/">FrOSCon</a>.
</p>
<p><strong>RECORDINGS</strong><br />
  You'll find recordings from past SIGINTs here:
   <ul>
    <li><a href="http://media.ccc.de/browse/conferences/sigint13/">SIGINT13</a></li>
    <li><a href="http://media.ccc.de/browse/conferences/sigint12/">SIGINT12</a></li>
    <li><a href="http://media.ccc.de/browse/conferences/sigint10/">SIGINT10</a></li>
    <li><a href="http://media.ccc.de/browse/conferences/sigint09/">SIGINT09</a></li>
  </ul>
</p>
{% endblock %}
