{% extends "base.html" %}
{% block nav-location %}selected{% endblock %}
{% block content %}
<p>
  As always, SIGINT13 too takes place at <em>KOMED im Mediapark</em> (<a href="http://www.komed.de/">Venue</a>,
  <a href="http://www.openstreetmap.org/?lat=50.94848&amp;lon=6.943654&amp;zoom=17&amp;layers=M">OSM</a>,
  <a href="http://goo.gl/maps/ued5O">GMaps</a>) in Cologne, Germany.
</p>
<p><strong>BUILDINGS</strong>
  SIGINT takes place in the buildings M6 and M7. They are right next to each other,
  so changing the building for a talk is quickly done.
  <em>MP6</em> hosts our hackcenter, project booths and "Konferenz" and "Vortrag" rooms.
  <em>MP7</em> hosts the large "Saal" room, the workshop and volunteer rooms and the official entrance.
</p>

<p><strong>DIRECTIONS</strong>
  <a href="directions.html">Getting to the Mediapark</a> is easy.
</p>

<p><strong>ACCOMMODATION</strong>
  If you need a place to stay, take a look at nearby <a href="accommodations.html">accommodations</a>.
</p>

<div class="box">
  <img src="./static/img/3558903073_bafc3efba6_o.jpg" alt="location with rocket" />
</div>

{% endblock %}
