{% extends "base.html" %}
{% block nav-location %}selected{% endblock %}
{% block content %}
<p><strong>SPONSORS</strong></p>

<p>
  Networking equipment and internet uplink come at a cost, and we're lucky to have sponsors who cover that for us. They're awesome, so check them out!
</p>

<ul style="list-style-type: none">
  <li><a href="http://www.datenwelt.net/"><img src="./static/img/datenwelt.png" /></a></li>
  <li><a href="http://www.juniper.net/"><img src="./static/img/juniper.png" /></a></li>
  <li><a href="http://www.teamix.de/"><img src="./static/img/teamix.png" /></a></li>
</ul>

<p>
  The furniture and equipment for the lounge has also been sponsored to us.
</p>

<ul>
  <li><a href="http://www.dg-i.net/"><img src="./static/img/dgi.png" /></a></li>
</ul>

{% endblock %}
