{% extends "base.html" %}
{% block nav-tickets %}selected{% endblock %}
{% block content %}
<p><strong>TICKETS</strong>
You can buy tickets in <a href="https://presale.sigint.ccc.de/">our presale</a>.<br />
  <a href="https://twitter.com/sigint">Follow us on twitter</a> for up-to-date information on our presale.
</p>
<table>
  <tr>
    <th>Category</th>
    <th>Price</th>
    <th>Comment</th>
  </tr>
  <tr>
    <td>Standard</td>
    <td>&euro; 60</td>
    <td class="comment">no separate invoice</td>
  </tr>
  <tr>
    <td>Supporter</td>
    <td>&euro; 90</td>
    <td class="comment">no separate invoice, but good feeling included</td>
  </tr>
  <tr>
    <td>Business</td>
    <td>&euro;&nbsp;250</td>
    <td class="comment">comes with an invoice that includes name and address</td>
  </tr>
  <tr>
    <td>Up-and-coming</td>
    <td>&euro; 40</td>
    <td class="comment">birthday after July 4th, 1995 (younger than 18 yrs)</td>
  </tr>
  <tr>
    <td>Day ticket</td>
    <td>&euro; 30</td>
    <td class="comment">cash only</td>
  </tr>
</table>
<p>
  Children under 12 in attendance of an adult get in for free. A single person officially accompanying a handicapped person gets in for free.
</p>
<p>
  If you or someone you know cannot afford to pay the full price, <a href="mailto:sigint-presale@koeln.ccc.de">send the organizers an e-mail</a>. Please tell us a bit about you or him/her, why you or this person can't pay the full price and why he or she should take part in SIGINT nevertheless. Usually we agree on something.
</p>
<p>
  If you have further questions about our tickets, check the <a href="/faq.html">FAQ</a> or <a href="/contact.html">contact us</a>.
</p>
{% endblock %}
