<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>SIGINT 2013</title>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/style.css">
  <link href='//fonts.googleapis.com/css?family=Dosis:400&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css' />
</head>
<body>
  <header>
    <div id="logo">
      <img src="{{STATIC_URL}}/img/logo.png" alt="SIGINT 2013" />
    </div>
    <nav>
      <h4 class="header">July 5<small>th</small>-7<smalL>th</small>, KOMED im Mediapark, Cologne, Germany</h4>
      <ul>
        <li class="{%block nav-conference%}{%endblock%}"><a href="/">Conference</a></li>
        <li class="{%block nav-content%}{%endblock%}"><a href="/content.html">Content</a></li>
        <li class="{%block nav-location%}{%endblock%}"><a href="/location.html">Location</a></li>
        <li class="{%block nav-tickets%}{%endblock%}"><a href="/tickets.html">Tickets</a></li>
        <li class="{%block nav-faq%}{%endblock%}"><a href="/faq.html">FAQ</a></li>
        <li class="last {%block nav-contact%}{%endblock%}"><a href="/contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  <div id="content">
    {% block content %}
    Main content
    {% endblock %}
  </div>
</body>
</html>
